:root{
  --bgcolor: black;
  --textcolor: white;
  --font: Verdana;
}

#theWordFirst{
  color:#668800
} 

body {
  background: var(--bgcolor);
  color: var(--textcolor);
  font-family: var(--font);
}

h2 {
  text-align: center;
}

.container{
  width: auto;
  height: auto;
  padding: 50px;
}

.flexbox{
  display: flex;
  gap: 1rem;
  padding-left: 10px;
  padding-right: 10px;

}

.img{
  max-width: 100%;
  max-height: 200px;
  position: relative;
}

.links {
  text-align: center;
}

.links a:hover {
  color: cyan;
  transform: scale(10);
}

